* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1E1F;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: #48CFAD;
    transition: 0.5s;
}

a:hover {
    color: #40B89A;
}